@use "vars" as *;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: $text;
	text-align: center;
	font-weight: 300;
	overflow-x: hidden;
}

a,
button,
input,
::placeholder {
	font-family: $text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title;
}

a {
	text-decoration: none;
	color: $black;
}

/* ------- HEADER ------- */

// All
header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: $shadow;
	height: 5rem;
	width: 100%;
	font-family: $title;
	background-color: rgb(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	.header_logo img{
		max-width: 5rem;
	}

	.navbar_toggle {
		background-color: transparent;
		border: none;
		width: 2rem;
		height: 2rem;
		padding: 0;

		.hamburger {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	.header_menu {
		.close_nav {
			background-color: transparent;
			border: none;
			width: 2rem;
			height: 2rem;
			padding: 0;

			svg {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}

		.menu {
			display: flex;
			flex-direction: row;

			li {
				list-style: none;
			}
		}
	}
}

// Desktop
@media screen and (min-width: 700px) {
	header {
		padding: 1rem 5rem;
	}
}

@media screen and (max-width: 700px) {
	header {
		padding: 1rem 3rem;
	}
}

@media screen and (max-width: 535px) {
	header {
		padding: 1rem 2rem;
	}
}

@media screen and (min-width: 650px) {
	header {
		.navbar_toggle,
		.close_nav {
			display: none;
		}

		.header_menu .menu {
			gap: 1.5rem;

			li a {
				transition: color 0.2s ease-in;

				&.active-link {
					color: $primary;
					font-weight: 500;
				}

				&:hover {
					color: $secondary;
				}
			}
		}
	}
}

// Mobile
@media screen and (max-width: 650px) {
	header {
		.navbar_toggle {
			display: block;
		}

		.header_menu {
			position: fixed;
			inset: 0;
			width: 85%;
			height: 100vh;
			background-color: $white;
			box-shadow: $dark-shadow;
			z-index: 1000;
			transform: translateX(-100%);
			transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

			&.active {
				transform: translateX(0);
			}

			.close_nav {
				position: absolute;
				right: 1.5rem;
				top: 1.5rem;
				cursor: pointer;
			}

			.menu {
				flex-direction: column;
				padding: 5rem 2rem;
				height: 100%;
				margin: 0;
				background-color: $white;

				li {
					border-bottom: 1px solid $gray;

					a {
                        display: block;
                        padding: 1rem 0;
                        font-size: 1.2rem;
                    }

					&:last-child {
						border-bottom: none;
					}
				}
			}

			&::before {
				content: "";
				position: fixed;
				inset: 0;
				width: 100vw;
				height: 100vh;
				background: rgba(0, 0, 0, 0.5);
				z-index: -1;
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.4s ease;
			}

			&.active::before {
				opacity: 1;
				pointer-events: all;
				left: 100%;
			}
		}
	}
}

/* ------- SOCIAL BUTTONS ------- */

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	li {
		list-style: none;

		a {
			text-decoration: none;

			svg,
			path {
				color: $dark-gray;
				transition: color 0.2s ease-in;
			}
		}

		&:hover {
			svg,
			path {
				color: $primary;
			}
		}
	}
}

.float {
	position: fixed;
	bottom: 2rem;
	right: 0;
	border-radius: $card-radius 0 0 $card-radius;
	box-shadow: $dark-shadow;
	padding: 1rem;
	background-color: $white;

	.float_social {
		flex-direction: column;
		padding: 0;
    	margin: 0;
	}
}

footer .footer_us .footer_social {
	justify-content: start;

	li {
		border-radius: 50%;
		background-color: $white;
		box-shadow: $dark-shadow;
		width: 2.5rem;
		height: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.2s ease-in;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:hover {
			background-color: #2a3039;
		}
	}
}

/* ------- FOOTER ------- */

footer {
	display: grid;
	grid-template-columns: 30% 30% 40%;
	width: 100%;
	text-align: left;
	background-color: $gray;
	padding: 3rem 2rem;
	gap: 1rem;
	border-top: 1px solid $gray-2;

	@media screen and (max-width: 640px) {
		grid-template-columns: 100%;
		gap: 2rem;
	}

	.footer_us {
		img {
			max-width: 10rem;
		}
	}

	h3 {
		margin: 0;
		margin-bottom: 1rem;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	.foooter_nav .menu {
		li {
			list-style: none;
			transition: padding 0.2s ease-in;

			a {
				text-decoration: none;
				color: $dark-gray;

				&.active-link {
					color: $primary;
					font-weight: 500;
				}

				&:hover {
					color: $secondary;
				}
			}

			&:hover {
				padding-left: 1rem;
			}
		}
	}

	.footer_legal .legal_items {
		li {
			list-style: none;
			color: $dark-gray;
		}
	}
}
