@use "../../styles/vars" as *;

.card {
	border-radius: $card-radius;
	box-shadow: $shadow;
	transition: box-shadow 0.2s ease;
	background-color: $white;
    position: relative;

	.card_header {
		width: 100%;
		height: 12rem;
		overflow: hidden;
		position: relative;
        border-radius: $card-radius $card-radius 0 0;

		.card_img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
			transition: transform 0.2s ease;
		}
	}

	.card_tags {
		position: absolute;
		top: 1rem;
		right: 1rem;
		display: flex;
		gap: 0.5rem;
        z-index: 5;
		font-size: 0.75rem;

		span {
			background-color: rgb(255, 255, 255, 0.7);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			color: $secondary;
			font-weight: 700;
			border-radius: $card-radius;
			padding: 0.2rem 1rem;
			white-space: nowrap;
		}

		.tags_more {
			position: relative;
			display: flex;
			cursor: help;

			.dots {
				padding: 0.2rem 0.5rem;
			}

			.tags_tooltip {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				bottom: 120%;
				right: 0;
				background-color: $secondary;
				color: $white;
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
				font-size: 0.75rem;
				font-weight: 500;
				white-space: nowrap;
				box-shadow: $shadow;
				transition: all 0.2s ease;
				z-index: 10;
				pointer-events: none;

				&::after {
					content: "";
					position: absolute;
					top: 100%;
					right: 10px;
					border-width: 5px;
					border-style: solid;
					border-color: $secondary transparent transparent transparent;
				}
			}

			&:hover .tags_tooltip {
				visibility: visible;
				opacity: 1;
				bottom: 130%;
			}
		}
	}

	.card_text {
		text-align: left;
		padding: 2rem;

		h3 {
			margin: 0;
			margin-bottom: 0.5rem;
			transition: color 0.2s ease;
		}

		.card_details {
			font-size: 0.9rem;
			color: $dark-gray;

			.card_detail {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				svg {
					fill: $primary;
					color: $primary;
				}
			}
		}

		.card_link {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			font-weight: 500;
			transition: color 0.2s ease;

			svg {
				transition: transform 0.2s ease;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.card {
		.card_tags {
			font-size: 1rem;
		}

		.card_text .card_description {
			height: 3.5rem;
			overflow-y: hidden;
		}

		&:hover {
			box-shadow: $dark-shadow;

			.card_img {
				transform: scale(1.2);
			}

			.card_text {
				h3 {
					color: $primary;
				}

				.card_link {
					color: $secondary;

					svg {
						transform: translateX(1rem);
					}
				}
			}
		}
	}
}
