@use "../styles/vars" as *;

.miracleDetail {
	.miracle_banner {
		min-height: 43vh;
		text-align: left;
		padding: 5rem;
		width: 100%;
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		color: $white;

		a {
			color: $white;
			margin-bottom: 1rem;
			display: flex;
			align-items: center;
			gap: 0.5rem;

			svg {
				transform: rotate(180deg);
				transition: margin 0.2s ease;
			}
		}

		button {
			font-weight: 700;
			font-size: 0.9rem;
		}

		.miracle_details {
			display: flex;
			gap: 1rem;

			.miracle_detail {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				.day_icon {
					color: $primary;
				}

				.location_icon {
					color: $secondary;
				}
			}
		}
	}

	.miracle_content {
		padding: 2rem;
		background-color: $gray;
		gap: 2rem;
		width: 100%;

		.miracle_nav,
		.miracle_post,
		.miracle_extra {
			background-color: $white;
			border-radius: $card-radius;
			box-shadow: $shadow;
			padding: 2rem;
		}

		.miracle_nav {
			display: none;
		}

		.miracle_post {
			text-align: left;

			.miracle_description {
				border-left: 5px solid $secondary;
				padding-left: 1rem;
				font-family: $title;
				font-size: 1.1rem;
				vertical-align: middle;
			}

			.md_h2_icon svg {
				color: $primary;
				margin-right: 0.5rem;
			}

			iframe {
				border-radius: $card-radius;
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: 750px) {
	.miracleDetail {
		.miracle_banner a:hover svg {
			margin-right: 1rem;
		}
	}
}

@media screen and (min-width: 1000px) {
	.miracleDetail {
		.miracle_content {
			display: grid;
			grid-template-columns: minmax(18rem, 22rem) 1fr;
			padding: 5rem;

			.miracle_nav {
				display: block;
				position: sticky;
				top: 7rem;
				height: fit-content;
				text-align: left;
				width: fit-content;

				h3,
				h4 {
					margin: 0;
					border-bottom: 1px solid $gray-2;
					padding-bottom: 0.5rem;
				}

				h4 {
					padding-top: 1rem;
				}

				ul {
					margin: 0;
					padding: 0;
					padding: 1rem 0;

					li {
						list-style: none;
						transition: border 0.2s ease;
						padding-left: 1rem;

						a {
							transition: color 0.2s ease;
						}

						&:hover {
							border-left: 2px solid $primary;

							a {
								color: $primary;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1050px) and (max-width: 1200px) {
	.miracleDetail {
		.miracle_content {
			padding: 4rem;
		}
	}
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
	.miracleDetail {
		.miracle_content {
			padding: 3rem;
		}
	}
}

@media screen and (min-width: 1200px) {
	.miracleDetail {
		.miracle_content {
			padding: 5rem 10rem;
		}
	}
}
