@use "../../styles/vars" as *;

.about {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 5rem;
    max-width: 80rem;
    margin: 0 auto;

    .about_image {
        aspect-ratio: 1 / 1;
        position: relative;
        max-width: 30rem;
        max-height: 30rem;
            
        img  {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            max-width: 30rem;
            max-height: 30rem;
        }

        .quote {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $white;
            border-radius: $card-radius;
            box-shadow: $dark-shadow;
            width: 15rem;
            padding: 1rem;
            text-align: right;

            blockquote {
                font-size: 0.95rem;
                color: $primary;
                font-weight: 600;
                margin: 0;
                margin-bottom: 0.5rem;
            }
            
            .author {
                font-size: 0.85rem;
                color: $dark-gray;
            }
        }
    }

    .about_text {
        p span {
            color: $primary;
            font-weight: 700;
        }
    }
}

@media screen and (min-width: 1200px) {
    .about {
        padding: 7rem 10rem;
        gap: 10rem;

        .about_text {
            h2 {
                font-size: 3rem;
            }
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .about {
        padding: 7rem;
        gap: 4rem;

        .about_text {
            text-align: left;

            h2 {
                font-size: 2rem;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .about {
        grid-template-columns: repeat(2, auto);

        .about_text {
            text-align: left;

            h2 {
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .about {
        padding: 5rem;
    }
}

@media screen and (min-width: 500px) {
    .about {
        .about_image {
            .quote {
                blockquote {
                    font-size: 1rem;
                }

                .author {
                    font-size: 0.9rem;
                }
            }
        }
    }
}